Pi0Polarizability.aux
Pi0Polarizability.bbl
Pi0Polarizability.blg
Pi0Polarizability.dvi
Pi0Polarizability.log
Pi0Polarizability.pdf
texput.log
*~
.aux_for_bibtex
Pi0Polarizability.out
Pi0Polarizability.toc
Appendix.aux
Appendix.dvi
Appendix.log
Appendix.pdf
NOTES-JOSE.aux
NOTES-JOSE.log
NOTES-JOSE.pdf
